.nav {
	background-color: #ACC18A;
	overflow: auto;	
}
.nav a {
	float: left;
	color: #564946;
	text-align: center;
	padding: 14px;
	transition: all 0.3s ease;
	text-decoration: none;
	font-size: 17px;	
	font-color: #FFFFFA;
}
.nav a:hover {
	background-color: #ddd;
	color: black;
}
.nav a.active {
	background-color:#4CAF50;
	color: white;
}